
body {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 1100px;
    font-family: helvetica, sans-serif;
}

.hide {
    display: none;
}

.w3-btn {
    width: 150px;
}

.content {
    position: relative;
    padding-top: 80px;
}

    .content p {
        margin-bottom: 10px;
    }

#header {
    position: fixed;
    width: 100%;
    height: 35px;
    background: #3b5998;
    color: white;
    top: 0px;
    font-family: helvetica, sans-serif;
}

#nav1 {
    position: absolute;
    right: 0;
    top: -15px;
    height: 60px;
}

#nav {
    position: absolute;
    right: 0;
    top: -15px;
    height: 60px;
}

    #nav ul li {
        float: left;
        list-style: none;
    }

        #nav ul li a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 0 10px;
        }

.imgTop {
    display: block;
    text-align: right;
}

.parallax {
    background-image: url("img_parallax.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*h2 {
    font-family: "Trebuchet MS",Arial,"sans-serif";
    font-size: 17px;
    color: Navy;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}*/

p {
    font-family: "Trebuchet MS", Arial, "sans-serif";
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    vertical-align: text-top;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h3 {
    font-family: Arial,"sans-serif";
    color: #800000;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-size: 10px;
}


.links2 {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: block;
    color: #800000;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    font-style: italic;
}



/*th {
    text-align: center;
    color: #800000;
}


table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
    float: left;
    font-family: Arial,"sans-serif";
    color: black;
    text-align: left;
    font-size: 11px;
   }*/

#myInput {
    background-position: 1px 1px;
    background-repeat: no-repeat;
    width: 20%;
    font-size: 16px;
    padding: 10px 2px 2px 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

#myTable {
    border-collapse: collapse;
    width: 75%;
    border: 1px solid #ddd;
    font-size: 15px;
}

    #myTable th, #myTable td {
        text-align: left;
        padding: 8px;
    }

    #myTable tr {
        border-bottom: 1px solid #ddd;
    }

        #myTable tr.header {
            background-color: gray;
            color: white;
        }

        #myTable tr.selected {
            background-color: blue;
        }

@media (max-width: 599px) {
    #header .container {
        width: 100%;
    }

    #header h1 {
        padding-left: 3%;
    }

    #nav {
        width: 100%;
        top: 60px;
    }

        #nav:before {
            content: '\2630';
            display: block;
            position: absolute;
            right: 3%;
            top: -50px;
            line-height: 40px;
            font-size: 1.4em;
            cursor: pointer;
        }

        #nav ul {
            background: #222;
            width: 100%;
            margin: 0px;
        }

            #nav ul li {
                float: none;
            }

                #nav ul li a {
                    padding: 10px 3%;
                    line-height: 20px;
                    border-top: 1px solid #333;
                }
}

@import "http://fonts.googleapis.com/css?family=Raleway";

#abc2 {
    width: 100%;
    height: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
}

#abc1 {
    width: 100%;
    height: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
}

#abc {
    width: 100%;
    height: 100%;
    opacity: .95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
}

img#close {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
}

div#popupContact {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
}

div#popupContact1 {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
}

div#popupContact2 {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
}

form, form1 {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
}

p {
    margin-top: 30px;
}

/*h2 {
    background-color: #FEFFED;
    padding: 20px 35px;
    margin: -10px -50px;
    text-align: left;
    border-radius: 10px 10px 0 0;
}*/

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
}

input[type=text] {
    width: 82%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway;
}

#name {
    background-image: url(../images/name.jpg);
    background-repeat: no-repeat;
    background-position: 5px 7px;
}

#email {
    background-image: url(../images/email.png);
    background-repeat: no-repeat;
    background-position: 5px 7px;
}

textarea {
    background-image: url(../images/msg.png);
    background-repeat: no-repeat;
    background-position: 5px 7px;
    width: 82%;
    height: 95px;
    padding: 10px;
    resize: none;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: raleway;
    margin-bottom: 30px;
}

#save {
    text-decoration: none;
    width: 30%;
    text-align: center;
    display: block;
    background-color: blueviolet;
    color: #fff;
    border: 1px solid #FFCB00;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.span1 {
    color: dodgerblue;
    font-weight: 100;
    font-size: 20px;
}




#footer {
    background-color: dimgray;
    width: 100%;
    height: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-size: small;
    text-align: center;
    color: #fff;
}
